/* CSS style-sheet for FBS game*/

/* loading font (make sure to have the last version of the 'files' folder) */
@font-face {
	font-family : "FBS-font";
	src         : url("../files/d-puntillas-A-Lace.ttf") format("truetype");
}

/* reset */
html, body {
	margin  : 0;
	padding : 0;
}

html {
	background-color : #D8DBE2;

	color            : white;
	font-family      : "FBS-font";

	text-align       : center;
	align-items      : center;
}

#canvas {
	display        : flex;
	flex-direction : column;
	align-items    : center;
}

canvas {
	height           : 100vh;
	width            : 100vw;
	background-color : black;
	display          : block;
}

/* to use for version and copyright info */
#footer {
	position : absolute;
	top      : 95vh;
	left     : 5vh;
}

/* menu wraper */;
#wrap {
	z-index : 95;
}

/* floating buttons on the top right corner of the page */
.dropdownMenu {
	font-family         : "FBS-font";
	color               : black;

	width               : 20px;
	height              : 20px;
	background-color    : #D8DBE2;
	border              : 2px solid white;
	border-radius       : 30px;

	position            : absolute;
	top                 : 40px;
	left                : 40px;
	padding             : 19px;

	transition-duration : 0.2s;

	cursor              : pointer;
}

/* button */
.dropdownMenu li {
	list-style       : none; 
	text-align       : center;
	margin  : 0;
	padding : 0;
}

/* button link*/
.dropdownMenu a {
	display : block;
}

/* hovering the button link */
.dropdownMenu li:hover, a:hover {
	background-color : background-color : #A9BCD0;
}

/* subsection of a button */
.dropdownMenu li ul {
	display : none;
	height : auto;

	width               : 20px;
	background-color    : #D8DBE2;
	border              : 2px solid white;
	border-radius       : 25px;

	padding: 0;
}

/* changing color when hovering */;
.dropdownMenu:hover{
	background-color : #A9BCD0;
}

/* hovering a button will display its subsections */
.dropdownMenu:hover ul {
	display : block;
}

/* Don't mind this part I'm just having fun trying to 
 * figure out how loaders work :3 */

#circleLoader {
	position : absolute;
	top : 45%;
	left : 45%;
	border : 5px solid white;
	border-top: 5px solid #A9BCD0;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	-webkit-animation: spin 2s linear infinite; /* for safari web browser */
	animation: spin 2s linear infinite;
}

/* [test] animation when loading complete */
.animation_1 {
	position: relative;
	-webkit-animation-name: animation_1;
	-webkit-animation-duration: 1s;
	animation-name: animation_1;
	animation-duration: 1s;
}

@-webkit-keyframes animation_1 {
	from { opacity: 0; }
	to { opacity: 1 }
}

@keyframes animation_1 {
	from { opacity: 0; }
	to { opacity: 1 }
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg) }
	100% { -webkit-transform: rotate(360deg) }
}

@keyframes spin {
	0% { transform: rotate(0deg) }
	100% { transform: rotate(360deg) }
}